/** Colors **/
$transparent:       transparent;
$black:             #000000;
$dark:              #707070;
$light:             #FFFFFF;
$helper:            #C53937;
$sec-helper:        #589BC0;
$thrd-helper:       #43555F;

/** Sizes **/
$big: 44px;
$middle: 29px;
$middler: 18px;
$regular: 15px;

/** Font weight **/
$weight-light:   300;
$weight-lighter: 400;
$weight-normal:  500;
$weight-middler: 600;
$weight-bolder: 700;
$weight-bold: bold;

/** Line-heights **/
$line-normal:  21px;
$line-middler: 35px;
$line-middle:  45px;
$line-larger:  54px;

/** Font-family **/
$main-font:   'Montserrat', sans-serif;
$helper-font: 'Roboto', sans-serif;